*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background-color: #f1eef8;
  --title-color: #0e0664;
  --dark-color: #0e0664;
  --disable-color: #0e06647e;
  --light-color: #5748cf;
  --red-color: #f24a25;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  background-color: var(--background-color);
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

input[type=text] {
  box-sizing: border-box;
  border: none;
}

input[type=text]:focus {
  outline: none !important;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5555a8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5555a8;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5555a8;
  opacity: 1; /* Firefox */
}

.title-content {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 14px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  vertical-align: middle;
  padding-bottom: 0.1rem;
  font-size: 16px;
}

.sidebar-icon {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 48;
  vertical-align: middle;
  padding-right: 1rem;
}

.close-icon {
  font-variation-settings: "wght" 500;
  cursor: pointer;
}

.big-close-icon {
  font-variation-settings: "wght" 600;
  font-size: 22px;
  color: var(--dark-color);
  cursor: pointer;
}

.tag {
  background-color: #e4dfff;
  padding: 0 10px;
  border-radius: 50px;
}

.opacity-1 {
  opacity: 1 !important;
}

.circle {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.circle-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.display-none {
  display: none !important;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 240px;
  background-color: #f7f2f9;
  padding-top: 1rem;
  padding: 0.4rem 1.6rem;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 100;
}
.sidebar-logo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
  font-size: 22px;
  margin-top: 1rem;
}
.sidebar-logo-content .logo-category {
  color: #5555a8;
}
.sidebar-logo-content .sidebar-close-btn {
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.sidebar ul li input {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #e3e0f9;
  padding: 7px;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.4s ease;
  border-radius: 12px;
  padding-left: 0.5rem;
}
.sidebar ul li a:hover {
  background-color: rgba(174, 167, 167, 0.1215686275);
}

@media screen and (max-width: 860px) {
  .sidebar {
    background-color: rgba(247, 242, 249, 0.9019607843);
    display: none;
  }
}
.main-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 240px);
  left: 240px;
  padding: 1rem;
}
.main-content .cards {
  background-color: #e4e1ec;
  border-radius: 4px;
}
.main-content .cards .cards-content {
  display: flex;
  width: 100%;
}
.main-content .cards .cards-content .cards-main-content {
  margin: 0.8rem;
  width: 100%;
  padding-right: calc(100% - 1700px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: inline-flex;
}
.main-content .cards .cards-content .cards-main-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 1rem;
}
.main-content .cards .cards-content .cards-main-content header .header-content-text {
  color: var(--dark-color);
  font-size: 22px;
  padding: 0;
}
.main-content .cards .cards-content .cards-main-content header .header-content-subtext {
  color: var(--dark-color);
}
.main-content .cards .cards-content .cards-main-content header .header-status {
  display: flex;
  align-items: center;
}
.main-content .cards .cards-content .cards-main-content header .header-status-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid var(--dark-color);
}
.main-content .cards .cards-content--grid-display {
  display: flex;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 860px) {
  .main-content {
    padding: 0;
    width: 100%;
    left: 0;
  }
  .main-content .cards .cards-content .cards-main-content header {
    font-size: 16px;
  }
  .main-content .cards .cards-content .cards-main-content header .header-content-text {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (max-width: 420px) {
  .main-content .cards .cards-content .cards-main-content header {
    font-size: 16px;
  }
  .main-content .cards .cards-content .cards-main-content header .header-content-text {
    font-size: 16px;
  }
}
.active-sidebar {
  width: 100%;
  left: 0;
}

.active-grid-display {
  display: none !important;
}

input[type=text] {
  box-sizing: border-box;
  border: none;
}

input[type=text]:focus {
  outline: none !important;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5555a8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5555a8;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5555a8;
  opacity: 1; /* Firefox */
}

.fields-section {
  flex-grow: 1;
  max-width: 500px;
}

.title-content {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-color);
}

.title-content .title-text {
  font-size: 16px;
}

.title-content .title-icon {
  font-size: 16px;
}

.field-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #f4eff4;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.field-icon-container {
  display: flex;
  justify-content: center;
  width: 30px;
  align-items: center;
}

.label-container {
  display: flex;
  padding: 0.4rem;
  align-items: center;
  background-color: #f4eff4;
  color: var(--dark-color);
}

.label-container .label-icon,
.label-container .label-text,
.label-container .rquired {
  font-size: 16px;
}

.label-container .rquired {
  color: red;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

input[type=text] {
  min-width: 0;
  padding-left: 0.5rem;
  border: none;
  font-size: 16px;
  background-color: transparent;
}

input:focus {
  outline: none !important;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #150066;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #150066;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #150066;
  opacity: 1; /* Firefox */
}

.input-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4eff4;
  color: var(--light-color);
}

.input-type .input-type-text,
.input-type .input-icon {
  font-size: 16px;
  padding: 0.2rem 0.5rem;
}

.input-type .input-icon {
  color: var(--dark-color);
}

/* FORM - with label text, without icon, without input-type-text (flex 1 added to label container, remove background color for input-type) */
.flex-1 {
  flex: 1;
}

.no-background {
  background-color: transparent;
}

.light-color {
  color: var(--light-color);
}

/* Form - Vertical - without input-type (change field-container flex direction, smaller height for label container, bigger height for input container) */
.flex-column {
  flex-direction: column;
}

.small-font {
  font-size: 14px !important;
}

.height-small {
  height: 30px;
}

.height-big {
  flex: auto;
  height: 35px;
}

@media screen and (max-width: 420px) {
  .title-content,
.title-content .title-text,
.title-content .title-icon,
.title-content,
.label-container .label-icon,
.label-container .label-text,
.label-container .rquired,
input[type=text],
.input-type .input-type-text,
.input-type .input-icon {
    font-size: 16px;
  }
}
/* EXPAND SECTION */
.expand-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.type-header {
  display: flex;
  justify-content: space-between;
}

.links-unexpand {
  background-color: #ffffff;
  padding: 0.5rem;
  color: var(--dark-color);
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.links-unexpand .links-unexpand-tag {
  margin-left: 5px;
}

.stop-icon {
  color: #aac7ff;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
  padding: 0.3rem;
  font-size: 16px;
}

.links-expanded {
  margin-top: 1rem;
  background-color: #f4eff4;
  padding: 5px;
}

.fields-section__expand--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Was fields-section before */
.fields-section__expand {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  background-color: #fff;
}

.expand-btn {
  cursor: pointer;
}

.input-container__expand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  flex: 1;
  min-width: 0;
}

@media screen and (max-width: 1290px) {
  .expand-section,
.fields-section__expand--container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 860px) {
  .expand-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .expand-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .links-unexpand,
.stop-icon {
    font-size: 16px;
  }
  .expand-section,
.fields-section__expand--container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.debit-plan-section {
  margin-top: 2rem;
}
.debit-plan-section .debit-plan-content {
  font-size: 16px;
  color: var(--dark-color);
}

.links-unexpand-clicked {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 4px;
}

.links-unexpand-focus {
  border: 2px solid;
  border-color: rgba(66, 48, 186, 0.5450980392);
}

.expand-section-clicked {
  display: flex;
}

.tabs-section {
  margin-top: 1rem;
}
.tabs-section-slider {
  background-color: #fff;
  padding: 10px;
}
.tabs-section-slider-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-section-slider-title ul {
  display: flex;
  gap: 20px;
}
.tabs-section-slider-title ul li {
  font-size: 16px;
  font-weight: 500;
}
.tabs-section-slider-title ul a {
  font-size: 16px;
  color: #efb8c8;
}
.tabs-section-slider-title .tabs-close-icon {
  font-size: 16px;
  padding-left: 1rem;
}
.tabs-section-slider .definitions-container,
.tabs-section-slider .currency-container {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}
.tabs-section-slider .payments-container {
  background-color: rgba(241, 238, 248, 0.6588235294);
  padding: 0.5rem;
}

.active-link {
  color: #b58392 !important;
}

@media screen and (max-width: 420px) {
  .tabs-section-slider-title ul a {
    font-size: 14px;
  }
  .tabs-section-slider-title .tabs-close-icon {
    font-size: 14px;
  }
  .header,
.row {
    font-size: 12px;
  }
}
@media screen and (max-width: 340px) {
  .tabs-section {
    max-width: 290px;
  }
}
.table-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 4px;
}

.header,
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 16px;
}

.header {
  padding-bottom: 0.5rem;
}

.row {
  padding-bottom: 4px;
}

.header span,
.row span {
  padding: 0 0.5rem;
  flex: 0 1 50px;
}

.header span {
  background-color: #e7e4f3;
  margin-bottom: 0.2rem;
}

.row span {
  background-color: #fff;
  margin-bottom: 0.2rem;
}

.total {
  min-width: 100px;
}

.due {
  min-width: 50px;
  color: var(--red-color);
}

.date {
  min-width: 150px;
}

.close-date {
  min-width: 150px;
}

.status {
  min-width: 75px;
  color: var(--light-color);
}

.hashtag {
  min-width: 150px;
}

.type {
  min-width: 75px;
}

.customer {
  min-width: 100px;
}

.fin-account {
  min-width: 100px;
}

.owner {
  min-width: 200px;
}

.total-no-tax {
  min-width: 160px;
}

@media screen and (max-width: 860px) {
  .debit-slider--content {
    flex-direction: column;
  }
}
.inner-sidebar {
  min-width: 200px;
  background-color: #fffbff;
}
.inner-sidebar li {
  padding: 1rem 1rem 0;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 860px) {
  .inner-sidebar {
    display: none;
  }
}
.upper-navbar,
.bottom-navbar {
  background-color: #ece9f4;
  padding: 0.5rem;
}

.upper-navbar {
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-navbar-tags {
  display: flex;
  align-items: center;
  gap: 10px;
}
.upper-navbar-tags--tag {
  display: flex;
  align-items: center;
  gap: 10px;
}
.upper-navbar-tags--tag span {
  font-size: 16px;
}
.upper-navbar .sidebar-close-btn {
  opacity: 0;
}

.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 22px;
}
.bottom-navbar-display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-navbar-display span {
  font-size: 22px;
  cursor: pointer;
}
.bottom-navbar-display span:hover {
  color: rgba(0, 0, 0, 0.5568627451);
}
.bottom-navbar-display .display-options-container .display-options-btn {
  position: relative;
}
.bottom-navbar-display .display-options-container .display-options {
  position: absolute;
  margin-top: -8px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  opacity: 0;
}
.bottom-navbar-pages {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}
.bottom-navbar-pages--user {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom-navbar-pages--user .user-name {
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #e4dfff;
  font-size: 16px;
}
.bottom-navbar-btns--more {
  position: relative;
}
.bottom-navbar-btns--more .more-btn {
  font-size: 22px;
  cursor: pointer;
}
.bottom-navbar-btns--list {
  position: absolute;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  margin: -7px 40px 0 -40px;
}
.bottom-navbar-btns--list .list-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 7px;
}
.bottom-navbar-btns--list .list-item .list-item-icon {
  font-size: 22px;
}
.arrow {
  font-size: 22px;
  color: var(--dark-color);
}

@media screen and (max-width: 860px) {
  .upper-navbar-tags {
    margin-top: 10px;
  }
  .upper-navbar .sidebar-close-btn {
    font-size: 40px;
    cursor: pointer;
    color: #5555a8;
    opacity: 1;
  }
  .bottom-navbar-pages {
    gap: 20px;
  }
  .bottom-navbar-pages--user {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bottom-navbar-pages--user .user-name {
    display: none;
  }
  .bottom-navbar-btns--list {
    margin: -7px 40px 0 -20px;
  }
  .bottom-navbar-btns--list .list-item .pin {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .bottom-navbar-pages--number .of-pages {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */