.clsDisableAppBackground {
  background-color: #e0e0e0;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------YuliRegFld-------------------------------------------*/
.clsYuliRegFldSDel {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: black;
  cursor: pointer;
}

.clsYuliRegFldSDelCap {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: pointer;
}

.clsYuliRegFldTitle {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliRegFldTitleRW {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliRegFldTitleNA {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliRegFldTitleCH {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliRegFldTitleDL {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliRegFldValueRW {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #24099b;
  cursor: pointer;
}

.clsYuliRegFldValueNA {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: #6b1396;
  cursor: pointer;
}

.clsYuliRegFldValueDL {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}

.clsYuliRegFldValueCH {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: red;
  cursor: pointer;
}

.clsYuliRegFldValueMA {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  color: red;
  cursor: default;
}

.clsYuliRegFldValueAS {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: plcicons;
  color: royalblue;
  cursor: pointer;
}

.clsYuliRegFldValueVL {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  background-color: #eaeaea;
  color: #b0b0b0;
  cursor: pointer;
}

.clsYuliRegFldValueRW:hover {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  background-color: #def1fd;
  color: #4b4b4b;
  cursor: pointer;
}

.clsYuliRegFldValueNA:hover {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  text-decoration: none;
  color: #b0b0b0;
  cursor: pointer;
}

.clsYuliRegFldValueDL:hover {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  text-decoration: line-through;
  background-color: #e0e0e0;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.clsYuliRegFldValueCH:hover {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  background-color: #e0e0e0;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.clsYuliRegFldValueVL:hover {
  font-size: calc(var(--fontwidth) * 13 / 16);
  font-family: Arial, DejaVu Sans;
  background-color: #e0e0e0;
  color: #b0b0b0;
  cursor: pointer;
}

/*----------- YuliRegFld----------YuliRegFld-------------------------------------------*/

/*---------------------YuliRegFld-------------------------------------------*/
.clsYuliBigFldSDel {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: black;
  cursor: pointer;
}

.clsYuliBigFldSDelCap {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: pointer;
}

.clsYuliBigFldTitle {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliBigFldTitleRW {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliBigFldTitleNA {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliBigFldTitleCH {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliBigFldTitleDL {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #0a84cb;
  cursor: default;
}

.clsYuliBigFldValueRW {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #24099b;
  cursor: pointer;
}

.clsYuliBigFldValueNA {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: #6b1396;
  cursor: pointer;
}

.clsYuliBigFldValueDL {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}

.clsYuliBigFldValueCH {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: red;
  cursor: pointer;
}

.clsYuliBigFldValueMA {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  color: red;
  cursor: default;
}

.clsYuliBigFldValueAS {
  font-size: 22px;
  font-family: plcicons;
  color: royalblue;
  cursor: pointer;
}

.clsYuliBigFldValueVL {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  background-color: #eaeaea;
  color: #b0b0b0;
  cursor: pointer;
}

.clsYuliBigFldValueRW:hover {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  background-color: #def1fd;
  color: #4b4b4b;
  cursor: pointer;
}

.clsYuliBigFldValueNA:hover {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  text-decoration: none;
  color: #b0b0b0;
  cursor: pointer;
}

.clsYuliBigFldValueDL:hover {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  text-decoration: line-through;
  background-color: #e0e0e0;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.clsYuliBigFldValueCH:hover {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  background-color: #e0e0e0;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.clsYuliBigFldValueVL:hover {
  font-size: 22px;
  font-family: Arial, DejaVu Sans;
  background-color: #e0e0e0;
  color: #b0b0b0;
  cursor: pointer;
}

/*----------- YuliRegFld----------YuliRegFld-------------------------------------------*/
