.inner-sidebar {
  min-width: 200px;
  background-color: #fffbff;
  padding-bottom: 10px;

  li {
    padding: 1rem 1rem 0;
    font-size: font-size(font-size-regular);
    font-weight: font-weight(font-weight-medium);
  }
}

@include media-medium {
  .inner-sidebar {
    display: none;
  }
}
