.upper-navbar,
.bottom-navbar {
  background-color: #ece9f4;
  padding: 0.5rem;
}

.upper-navbar {
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;

  &-tags {
    display: flex;
    align-items: center;
    gap: 5px;
    &--tag {
      span {
        font-size: font-size(font-size-regular);
      }
    }
  }

  .sidebar-close-btn {
    font-size: font-size(font-size-medium);
    cursor: pointer;
    color: #5555a8;
    opacity: 0;
  }
}

.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;

  &-display {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-size: font-size(font-size-medium);
      cursor: pointer;
    }
    span:hover {
      color: #0000008e;
    }
    .display-options-container {
      .display-options-btn {
        position: relative;
      }

      .display-options {
        position: absolute;
        margin-top: -8px;
        background-color: #fff;
        padding: 5px;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 25%);
        opacity: 0;
      }
    }
  }
  &-pages {
    display: flex;
    gap: 25px;
    font-size: font-size(font-size-regular);
  }
  &-btns {
    &--more {
      position: relative;
      .more-btn {
        font-size: font-size(font-size-medium);
        cursor: pointer;
      }
    }
    &--list {
      position: absolute;
      text-align: center;
      background-color: #fff;
      box-shadow: 2px 2px 10px rgb(0 0 0 / 25%);
      margin: -7px 40px 0 -40px;

      .list-item {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 7px;

        .list-item-icon {
          font-size: font-size(font-size-medium);
        }

        .pin {
          font-size: font-size(font-size-samll);
        }
      }
    }
  }
}

.arrow {
  font-size: font-size(font-size-medium);
  color: var(--dark-color);
}

@include media-medium {
  .upper-navbar {
    margin-top: 10px;
    &-tags {
      &--tag {
        font-size: font-size(font-size-regular);
      }
    }
    .sidebar-close-btn {
      opacity: 1;
    }
  }
  .bottom-navbar {
    &-pages {
      font-size: font-size(font-size-regular);
      &--user {
        .user-name {
          display: none;
        }
      }
    }
    &-btns {
      &--list {
        margin: -7px 40px 0 -20px;

        .list-item {
          .pin {
            display: none;
          }
        }
      }
    }
  }
  .arrow {
    font-size: 19px;
  }
}

@include media-small {
  .bottom-navbar {
    &-pages {
      font-size: font-size(font-size-samll);
      gap: 20px;
      &--number {
        .of-pages {
          display: none;
        }
      }
    }
  }
}
