.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 240px;
  background-color: #f7f2f9;
  padding-top: 1rem;
  padding: 0.4rem 1.6rem;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 100;

  &-logo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
    font-size: font-size(font-size-medium);
    margin-top: 1rem;

    .logo {
      &-category {
        color: #5555a8;
      }
    }
    .sidebar-close-btn {
      font-size: font-size(font-size-medium);
      cursor: pointer;
    }
  }

  ul {
    margin-top: 20px;

    li {
      position: relative;
      width: 100%;
      margin-bottom: 1rem;

      input {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        outline: none;
        border: none;
        background-color: #e3e0f9;
        padding: 7px;
      }

      a {
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 0.4s ease;
        border-radius: 12px;
        padding-left: 0.5rem;
      }

      a:hover {
        background-color: #aea7a71f;
      }
    }
  }
}

@include media-tablet {
  .sidebar {
    display: none;
  }
}
