.main-content {
  margin-left: 345px;
  padding: 20px;

  header {
    display: flex;
    background-color: #f6f3fb;
    padding: 1rem;

    h1 {
      font-weight: font-weight(font-weight-regular);
    }
    .header-icon-container {
      display: flex;
      align-items: center;
    }
  }

  .ruler {
    display: flex;
    background-color: #ece9f5;
    padding: 1rem;
  }

  .cards {
    background-color: #fff;
    height: 80vh;
  }
}
