.main-content {
  padding: 20px;

  header {
    display: flex;
    background-color: #f6f3fb;
    padding: 1rem;

    h1 {
      font-weight: font-weight(font-weight-regular);
    }
    .header-icon-container {
      display: flex;
      align-items: center;
    }
  }

  .ruler {
    display: flex;
    background-color: #ece9f5;
    padding: 1rem;
  }

  .cards {
    background-color: #e4e1ec;
    padding: 1.5rem;
    display: flex;

    .inner-sidebar {
      min-width: 280px;
      height: 100%;
      background-color: #f7f2f9;
      display: flex;
      flex-direction: column;

      li {
        padding: 2rem 2rem 0;
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-medium);
      }
    }

    &-main-content {
      max-width: 1700px;
    }
  }
}

// .active-main-content {
//   margin-left: 345px;
// }

@include media-tablet {
  .main-content {
    padding: 0;
  }
}
