.main-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 240px);
  left: 240px;
  padding: 1rem;

  .cards {
    background-color: #e4e1ec;
    border-radius: 4px;

    .cards-content {
      display: flex;
      width: 100%;

      .cards-main-content {
        margin: 0.8rem;
        width: 100%;
        padding-right: calc(100% - 1700px);

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        display: inline-flex;
      }
    }

    .cards-content--grid-display {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;
    }
  }
}

@include media-tablet {
  .main-content {
    padding: 0;
    width: 100%;
    left: 0;
    .cards {
      .cards-content--grid-display {
        padding: 0;
      }
    }
  }
}

.active-sidebar {
  width: 100%;
  left: 0;
}
