.debit {
  margin-top: 4rem;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-slider {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: fit-content;

    &--content {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    &-title-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        display: flex;
        gap: 20px;
        li {
          font-size: font-size(font-size-regular);
          font-weight: font-weight(font-weight-medium);
        }
        a {
          font-size: font-size(font-size-small);
          color: #efb8c8;
        }
      }
      .close-icon {
        font-size: font-size(font-size-regular);
        padding-left: 1rem;
        padding-bottom: 0.3rem;
      }
    }
  }
}

.active-link {
  color: #b58392 !important;
}

// PAYMENT - TABLE

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: #f1eef8a8;
  padding: 1rem;
  border-radius: 4px;
}

.header,
.row {
  display: flex;
  gap: 0.2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: font-size(font-size-small);
}

.header {
  padding-bottom: 0.5rem;
}
.row {
  padding-bottom: 4px;
}

.header span,
.row span {
  padding: 0 1rem;
  flex: 0 1 50px;
}

.header span {
  background-color: #e7e4f3;
}

.row span {
  background-color: #fff;
}

.hashtag {
  min-width: 150px;
}

.type {
  min-width: 160px;
}

.status {
  min-width: 160px;
}

.customer {
  min-width: 160px;
}

.fin-account {
  min-width: 200px;
}

.owner {
  min-width: 200px;
}

.close-date {
  min-width: 160px;
}

.total,
.total-no-tax {
  min-width: 200px;
}

@include media-tablet {
  .debit {
    &-slider {
      &--content {
        flex-direction: column;
      }
    }
  }
}

@include media-small {
  .debit {
    &-slider {
      &--title__container {
        a {
          font-size: font-size(font-size-x-small);
        }
        .close-icon {
          font-size: font-size(font-size-small);
        }
      }
    }
  }
  .header,
  .row {
    font-size: font-size(font-size-x-small);
  }
}
