.debit-plan-section {
  margin-top: 2rem;
  .debit-plan-content {
    font-size: font-size(font-size-regular);
    color: var(--dark-color);

    .next-payment,
    .current-payment {
      &-label {
        color: var(--light-color);
      }
    }

    .current-payment {
      &-days {
        color: var(--red-color);
      }
    }
  }
}
