.table-container {
  display: flex;
  flex-direction: column;
  // gap: 16px;
  flex-grow: 1;
}

.table-container-1 {
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

.table-input {
  padding-right: 10px;
}

.header,
.row {
  display: flex;
  flex-wrap: wrap;
  font-size: font-size(font-size-regular);
  margin-bottom: 2px;
}

.header span,
.row span {
  display: flex;
  padding: 0 0.2rem;
  flex: 1;
  margin: 2px;
}

.header span {
  background-color: #e5dbe5;
  margin-bottom: 4px;
}

.row span {
  background-color: #f5f1f5;
  margin-bottom: 2px;
}

.total,
.total-no-tax,
.payment {
  min-width: 110px;
}

.due {
  min-width: 80px;
  color: var(--red-color);
}

.date,
.close-date {
  min-width: 150px;
}

.status {
  min-width: 100px;
}

//
.hashtag {
  min-width: 110px;
}

.type {
  min-width: 80px;
}

.customer {
  // min-width: 140px;s
  flex-grow: 1;
}

.fin-account {
  min-width: 100px;
}

.owner {
  min-width: 190px;
}

.category {
  width: 110px;
}

.external,
.internal {
  // min-width: max-content;
  flex-grow: 1;
}

.header-2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: font-size(font-size-regular);
  margin-bottom: 10px;
  width: 100%;

  span {
    margin: 2px;
    background-color: #fff;
    padding: 2px;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-long-content {
    min-width: fit-content;
    padding: 5px 10px;
    width: 100%;

    .title {
      color: #5555a8;
    }
  }
}

.row-2 span {
  flex: 1;
  margin: 2px;
  padding: 0 0.5rem;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-none {
  display: none;
}
.carousel-nav {
  text-align: center;
}

// Draggable
.draggable.dragging {
  opacity: 0.5;
}

// third table style

.table-container-3 {
  display: flex;
  flex-direction: column;
  background-color: #f4eff4;
  padding: 4px;
  width: 100%;
}

.header-3,
.row-3 {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  font-size: font-size(font-size-regular);
  margin: 3px;
  padding: 0 5px;
  gap: 6px;

  span {
    color: var(--dark-color);
    font-weight: font-weight(font-weight-medium);
  }
  .circle {
    font-size: font-size(font-size-medium);
  }
}

.row-3 {
  background: #fffbff;
}
.header-3 {
  span {
    background-color: transparent;
  }
}

.total-create {
  flex: 1;
}

.sku {
  min-width: 100px;
}

.item-name {
  flex: 1;
}

.qty {
  min-width: 60px;
}

.stage {
  flex: 1;
  // min-width: 80px;
}

@include media-1290 {
  // table 3
  .row-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: font-size(font-size-regular);
    margin: 0;
    padding: 0;
    gap: 0;

    span {
      color: var(--dark-color);
      font-weight: font-weight(font-weight-medium);
      background-color: #fff !important;
      // height: 57px;
    }
    .circle {
      padding: 0 5px;
      font-weight: font-weight(font-weight-large);
    }
  }

  .row-3-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .row-3 {
    background-color: transparent;

    span {
      margin: 2px;
      background: #fffbff;
      padding: 4px;
    }
  }
  .header-3 {
    display: none;
  }

  .item-name {
    min-width: 200px;
  }

  .sku {
    flex: 1;
  }
}

.label-type-small {
  font-size: font-size(font-size-x-small);
  font-weight: font-weight(font-weight-medium);
  color: var(--light-color);
  height: 17px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
