.table-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 4px;
}

.header,
.row {
  display: flex;
  gap: 0.2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: font-size(font-size-regular);
}

.header {
  padding-bottom: 0.5rem;
}
.row {
  padding-bottom: 4px;
}

.header span,
.row span {
  padding: 0 0.5rem;
  flex: 0 1 50px;
}

.header span {
  background-color: #e7e4f3;
}

.row span {
  background-color: #fff;
}

.total {
  min-width: 100px;
}

.due {
  min-width: 80px;
  color: var(--red-color);
}

.date {
  min-width: 100px;
}

.status {
  min-width: 100px;
  color: var(--light-color);
}

@include media-tablet {
  .debit {
    &-slider {
      &--content {
        flex-direction: column;
      }
    }
  }
}
