.create-section {
  .create-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: font-size(font-size-large);
      font-weight: font-weight(font-weight-medium);
      color: #4230ba;
    }
  }
  .create-header-small {
    margin-top: 10px;
    color: #4230ba;
    font-size: font-size(font-size-medium);
  }

  .create-content {
    background-color: #fff;
    padding: 0.5rem;
  }
}

@include media-medium {
  .create-section {
    .create-header {
      span {
        font-size: font-size(font-size-medium);
      }
    }
    .create-header-small {
      font-size: font-size(font-size-regular);
    }
  }
}
