.cards-content--notes-display {
  display: flex;
  gap: 16px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;

  .note-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .note {
      background-color: #fff;
      width: 450px;
      border-radius: 7px;
      box-shadow: 0 2px 5px rgb(175, 175, 175);
      padding: 10px;
      height: fit-content;

      height: min-content;
      .mail-header {
        color: #5555a8;
      }
      .tabs {
        color: #ebb8cf;
        display: flex;
        gap: 15px;
        font-weight: 600;
        .tab {
          cursor: pointer;
          transition: 0.2s ease-in-out;
        }
        .tab:hover {
          color: #cb94ad;
        }
      }
      .icons-bottom-note {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
      }
    }
  }
}
